@model IEnumerable<Assignment.Models.Employee>

@{
    ViewBag.Title = "Assignment11-Index";
}

<div class="container mx-auto w-75 py-5 my-5">
    <h2 class="text-center mb-5">Employees</h2>
    <div class="row py-2 px-3 float-right">
        @Html.ActionLink(" Add Employee", "Create", "Assignment11", new { @class = "fa fa-plus fa-lg text-info" })
    </div>
    <div class="rTable text-center w-100 mx-auto">
        <div class="rTableRow bg-dark text-white">
            <div class="rTableHead"><strong>Name</strong></div>
            <div class="rTableHead"><strong>Gender</strong></div>
            <div class="rTableHead"><strong>City</strong></div>
            <div class="rTableHead"><strong>Date Of Birth</strong></div>
            <div class="rTableHead"><strong>Email</strong></div>
        </div>
        @foreach (var item in Model)
        {
            <div class="rTableRow">
                <div class="rTableCell">@Html.DisplayFor(modelItem => item.Name)</div>
                <div class="rTableCell">@Html.DisplayFor(modelItem => item.Gender)</div>
                <div class="rTableCell">@Html.DisplayFor(modelItem => item.City)</div>
                <div class="rTableCell">@Html.DisplayFor(modelItem => item.DateOfBirth)</div>
                <div class="rTableCell">@Html.DisplayFor(modelItem => item.Email)</div>
            </div>
        }
    </div>
</div>
