@model IEnumerable<BusinessLayer.Employee>

@{
    ViewBag.Title = "Assignment4-Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mx-auto w-100 py-5 my-5">
    <h2 class="text-center mb-5">Employees</h2>
    <div class="row py-2 px-3 float-right">
        @Html.ActionLink(" Add New", "Create", "Assignment3", new { @class = "fa fa-plus fa-lg text-info" })
    </div>
    <br />
    <div class="rTable text-center w-100 mx-auto">
        <div class="rTableRow bg-dark text-white">
            <div class="rTableHead"><strong>Name</strong></div>
            <div class="rTableHead"><strong>Gender</strong></div>
            <div class="rTableHead"><strong>City</strong></div>
            <div class="rTableHead"><strong>Date Of Birth</strong></div>
            <div class="rTableHead"><strong>Edit</strong></div>
            <div class="rTableHead"><strong>Delete</strong></div>
        </div>
        @foreach (var item in Model)
        {
            <div class="rTableRow">
                <div class="rTableCell">@Html.DisplayFor(modelItem => item.Name)</div>
                <div class="rTableCell">@Html.DisplayFor(modelItem => item.Gender)</div>
                <div class="rTableCell">@Html.DisplayFor(modelItem => item.City)</div>
                <div class="rTableCell">@Html.DisplayFor(modelItem => item.DateOfBirth)</div>
                <div class="rTableCell">@Html.ActionLink(" ", "Edit", "Assignment4", new { id = item.ID }, new { @class = "fa fa-edit text-primary" })</div>
                @using (Html.BeginForm("Delete", "Assignment4", new { id = item.ID }, FormMethod.Post, new { @class = "rTableCell" }))
                {
                    <button type="submit" onclick="return confirm('Are you sure you want to delete?')" class="delete"><i class="fa fa-trash text-danger"></i></button>
                }
            </div>
        }
    </div>
</div>
