@model IEnumerable<Assignment.Models.userResponse>

@{
    ViewBag.Title = "Assignment7-View Users Responses";
}

<div class="container mx-auto w-100 py-5 my-5">
    <h2 class="text-center mb-3">Employees</h2>
    <div class="row py-2 px-3 float-right">
        @Html.ActionLink(" Add New", "Create", "Assignment7", new { @class = "fa fa-plus fa-lg text-info" })
    </div>
    <br />
    <div class="rTable text-center w-100 mx-auto">
        <div class="rTableRow bg-dark text-white">
            <div class="rTableHead"><strong>@Html.DisplayNameFor(model => model.Name)</strong></div>
            <div class="rTableHead"><strong>@Html.DisplayNameFor(model => model.Comments)</strong></div>
        </div>
        @foreach (var item in Model)
        {
            <div class="rTableRow">
                <div class="rTableCell">@Html.DisplayFor(modelItem => item.Name)</div>
                <div class="rTableCell">@Html.Raw(item.Comments)</div>
            </div>
        }
    </div>
</div>
